python-dotenv
pyTelegramBotAPI
tavily==1.1.0


langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
langgraph

langfuse>=3.0,<4

faiss-cpu

python-docx
pypdf
cryptography>=3.1

