python-dotenv==1.2.2
pyTelegramBotAPI==4.32.0
tavily==1.1.0

langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
langgraph
langgraph-prebuilt

faiss-cpu

python-docx
pypdf
pycryptodome

